.popup {

}

.popup_wrapper {
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.popup_header {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.popup_inputs {
    display: flex;
    flex-direction: column;
}

.popup_input {
    height: 5vh;
}

.popup_actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.popup_submit {
    padding: 10px;
}

.popup_cancel {
    padding: 10px;
    margin-left: 10px;
}